<!DOCTYPE html>
<html>
<head>
	<title><%= (typeof title != "undefined" ? title : "") %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection"/>
	
	<link href="/stylesheets/style.css" rel="stylesheet">
	
</head>
<body>
	<style>
		.breadcrumb, .breadcrumb:before {
			color: black!important;
		}
	</style>
	<div class="container">
		<% if ( url.indexOf("signin") === -1 && url.indexOf("signup") === -1 ) { %>
			<% let steps = url.split('/').filter( x => x ) %>
			<% steps.pop() %>
			<% let acc = host %>
			<nav style="background-color: transparent; box-shadow: none;">
				<div class="nav-wrapper">
					<div class="col s12" style="color: black!important">
						<% acc += `/${steps[0]}` %>
						<a href=<%=`${acc}`%> class="breadcrumb t"><%= steps.shift() %></a>
						<% for (let step of steps ) { %>
							<% acc += `/${step}` %>
							<a href=<%=`${acc}`%> class="breadcrumb"><%= step %></a>
						<% } %>
				  	</div>
				</div>
			</nav>
		<% } %>
		<%- body %>
	</div>

	
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			M.FormSelect.init(document.querySelectorAll('select'));
			M.Modal.init(document.querySelectorAll('.modal'));
    		M.FloatingActionButton.init(document.querySelectorAll('.fixed-action-btn'));
		});
	</script>
</body>
</html>