<div class="row">
	<div class="col s12 p-b5">
		<h3 class="center-align blue-grey-text text-lighten-5 text-darken-1">
			Dépenses
		</h3>			
	</div>

	<div class="col s12 m8 offset-m2 p-b3">
		<% if ( expenses.length === 0 ) { %>
			<p class="center-align flow-text">Vous n'avez aucune dépense</p>
		<% } else { %>
			<ul class="collection">
				<% for ( let expense of expenses ) { %>
					<li class="collection-item">
						<div>
							<%= expense.name %>
							<div class="secondary-content row m-b0">

								<div class="col">
									<span><%= expense.total %> €</span>
								</div>

								<div class="col">
									<a href=<%=`/events/${expense.eventId}/expenses/${expense.id}`%> class="secondary-content"><i class="material-icons">info</i></a>
								</div>
								<div class="col">
									<a href=<%=`/events/${expense.eventId}/expenses/${expense.id}/delete`%> class="secondary-content"><i class="material-icons">delete</i></a>
								</div>
							</div>
						</div>
					</li>
				<% } %>
			</ul>
		<% } %>
	</div>

	<div class="col s10 offset-s1 m4 offset-m4">
		<a href=<%=`/events/${evid}/expenses/new`%> class="btn btn-block waves-effect waves-light">Ajouter une dépense <i class="material-icons right">send</i></a>
	</div>
</div>