<% if (!failedFields) { var failedFields = [] } %>
<% if (!errors) { var errors = {} } %>
<% if (!values) { var values = {} } %>
<div class="row">
    
    <div class="col s12">
        <div class="row">
            <div class="col s12 p-t5 p-b5">
                <h3 class="center-align blue-grey-text text-lighten-5 text-darken-1">
                    <u>Inscription</u>
                </h3>
            </div>
            <div class="col s12 m8 offset-m2">
                <form method="POST">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="pseudo" type="text" class="validate" name="pseudo" required value=<%= values.pseudo %>>
                            <label for="pseudo">Pseudo</label>
                            <% failedFields.filter((error) => error.path.join("/") === "pseudo").forEach((error) => { %>
                                <span class="red-text text-accent-2 form-error">
                                    <small><%= error.message %></small>
                                </span>
                            <% }) %>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" name="email" required value=<%= values.email %>>
                            <label for="email">Email</label>
                            <% failedFields.filter((error) => error.path.join("/") === "email").forEach((error) => { %>
                                <span class="red-text text-accent-2 form-error">
                                    <small><%= error.message %></small>
                                </span>
                            <% }) %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" required class="validate">
                            <label for="password">Mot de passe</label>
                            <% failedFields.filter((error) => error.path.join("/") === "password").forEach((error) => { %>
                                <span class="red-text text-accent-2 form-error">
                                    <small><%= error.message %></small>
                                </span>
                            <% }) %>
                        </div>
                    </div>

                    <div class="row m-t4">
                        <button class="btn btn-block waves-effect waves-light teal lighten-3 col" type="submit" name="action">
                            Inscription
                        </button>
                        <a href="/auth/signin" class="btn btn-block waves-effect waves-light red accent-1 col" type="submit" name="action">
                            Déja un compte ?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>     
    
    <div class="col s10 offset-s1 p-t5 center-align blue-grey-text text-lighten-1">
        <small>
            Notre site vous permet de gérer vos dépenses et vos trajets en groupes en partant en vacances.
Il vous permettra principalement de faire des balances des comptes, mais vous pourrez gérer vos trajets et le couchage.
        </small>
    </div>

</div>