<% if (!failedFields) { var failedFields = [] } %>
<% if (!errors) { var errors = {} } %>
<% if (!values) { var values = {} } %>
<div class="row">
    
    <div class="col s12 center-align">
        <h3 class="p1">Création d'événement</h3>
    </div>
    
    <form class="col s10 offset-s1" method="POST">
        
        <!-- name -->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="material-icons prefix">mode_edit</i>
                <input id="name" type="text" name="name" minlength="6" required class="validate" 
                    value=<%= values.name %>
                >
                <label for="name">Name</label>
                <% failedFields.filter((error) => error.path.join("/") === "name").forEach((error) => { %>
                    <span class="ml3 red-text text-accent-2 form-error">
                        <small><%= error.message %></small>
                    </span>
                <% }) %>
            </div>
        </div>
        
        <!-- dateStart -->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="material-icons prefix">date_range</i>
                <input id="dateStart" type="date" name="dateStart" required class="validate"
                    value=<%= values.dateStart %>
                >
                <label for="dateStart">Date de début</label>
                <% failedFields.filter((error) => error.path.join("/") === "dateStart").forEach((error) => { %>
                    <span class="ml3 red-text text-accent-2 form-error">
                        <small><%= error.message %></small>
                    </span>
                <% }) %>
            </div>
        </div>
        
        <!-- dateEnd -->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="material-icons prefix">date_range</i>
                <input id="dateEnd" type="date" name="dateEnd" required class="validate"
                    value=<%= values.dateEnd %>
                >
                <label for="dateEnd">Date de fin</label>
                <% failedFields.filter((error) => error.path.join("/") === "dateEnd").forEach((error) => { %>
                    <span class="ml3 red-text text-accent-2 form-error">
                        <small><%= error.message %></small>
                    </span>
                <% }) %>
            </div>
        </div>
        
        <!-- place -->
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
                <i class="material-icons prefix">place</i>
                <input id="place" type="text" name="place" class="validate"
                    value=<%= values.place %>
                >
                <label for="place">Lieu</label>
            </div>
        </div>
        
        <div class="row m3">
            <button class="btn btn-block waves-effect waves-light col m6 offset-m3" type="submit" name="action">Ajouter
                <i class="material-icons right">send</i>
            </button>
        </div>
        
    </form>
</div>