<% if ( false ) { %>
	<!DOCTYPE html>
	<html>
	<head>
		<title> <%= event.name %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1 class="title">Event n°<%= event.id %></h1>
		<ul class="collection with-header ">
			<li class="collection-item flow-text centered-item"> Nom de l'événement: <%= event.name %>  </li>
			<li class="collection-item flow-text centered-item"> Date de début: <%= event.dateStart %>  </li>
			<li class="collection-item flow-text centered-item"> Date de fin: <%= event.dateEnd %>  </li>
			<li class="collection-item flow-text centered-item"> Le lieu: <%= event.place %>  </li>
		</ul>
		
		<a href=<%='/events/' + event.id + '/users/new'%> > <button class="btn btn-block waves-effect waves-light col m6 offset-m3"> Ajouter des utilisateurs
		</button>
	</a>
</body>
</html>
<% } %>

<div class="col s12">
	
	<div class="row">
		
		<div class="col s12 p-t5 p-b5">
			<h3 class="center-align blue-grey-text text-lighten-5 text-darken-1">
				<%= event.name %>
			</h3>
			<a>
				<a href=<%= `/events/${event.id}/users/new` %> class="btn btn-block waves-effect waves-light">Ajouter un participant <i class="material-icons right">send</i></a>
			</a>
		</div>
		
		<div class="col s12 m10 offset-m1 p-t2">
			<div class="row" style="display: flex; justify-content: space-around; flex-wrap: wrap;">

				<div class="col" style="margin: auto;">
					<div class="card-panel">
						<span class="teal-text text-lighten-2">
							<b>Début</b>
						</span>
						<span class="">
							<%= 
								`${event.dateStart.getDate() > 10 ? event.dateStart.getDate() : '0' + event.dateStart.getDate()}/${event.dateStart.getMonth() > 10 ? event.dateStart.getMonth() : '0' + event.dateStart.getMonth()}/${event.dateStart.getFullYear()}`
							%>
						</span>
					</div>
				</div>

				<div class="col" style="margin: auto;">
					<div class="card-panel">
						<span class="teal-text text-lighten-2">
							<b>Localisation</b>
						</span>
						<span class="">
							<%= event.place %>
						</span>
					</div>
				</div>

				<div class="col" style="margin: auto;">
					<div class="card-panel">
						<span class="teal-text text-lighten-2">
							<b>Fin</b>
						</span>
						<span class="">
							<%= 
								`${event.dateEnd.getDate() > 10 ? event.dateEnd.getDate() : '0' + event.dateEnd.getDate()}/${event.dateEnd.getMonth() > 10 ? event.dateEnd.getMonth() : '0' + event.dateEnd.getMonth()}/${event.dateEnd.getFullYear()}`
							%>
						</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
</div>