<!DOCTYPE html>
<html>
  <head>
    <title> <%= event.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Event n°<%= event.id %></h1>
      <ul class="collection with-header ">
          <li class="collection-item flow-text centered-item"> Nom de l'événement: <%= event.name %>  </li>
          <li class="collection-item flow-text centered-item"> Date de début: <%= event.dateStart %>  </li>
          <li class="collection-item flow-text centered-item"> Date de fin: <%= event.dateEnd %>  </li>
          <li class="collection-item flow-text centered-item"> Le lieu: <%= event.place %>  </li>
      </ul>

      <a href=<%='/events/' + event.id + '/users/new'%> > <button class="btn btn-block waves-effect waves-light col m6 offset-m3"> Ajouter des utilisateurs
      </button>
      </a>
  </body>
</html>