<!DOCTYPE html>
<html>
  <head>
    <title> <%= event.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Event n°<%= event.id %></h1>
      <ul>
          <li> Name: <%= event.name %>  </li>
          <li> Date de début: <%= event.dateStart %>  </li>
          <li> Date de fin: <%= event.dateEnd %>  </li>
          <li> Le lieu: <%= event.place %>  </li>
      </ul>

      <a href=<%=`/participants/${event.id}/add`%> <button>>Ajouter un participant</button></a>
  </body>
</html>